.general {
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}
.header {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}
.subheader {
    color: gray;
    text-align: center;
}
.section {
    border-style: solid;
    border-color: black;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    text-align: left;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
a {
    color: blueviolet;
    text-decoration: none;
}
    a:hover{text-decoration: underline;}
    a:visited{color: blueviolet;}